@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Forum&family=Handlee&family=Playwrite+NZ:wght@100..400&display=swap");

.products {
  color: white;
  text-align: center;
  font-family: "Forum", serif;
}

.products-box {
  width: 57em;
  height: 35em;
  margin-left: 25em;
}

.alert-message {
  background-color: #dff0d8;
  border-color: #d0e9c6;
}
